{% extends "auctions/layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}

<h2>Active Listings</h2>


<div class="listing">
    {% if listing.imageURL %}
        <img src= "{{ listing.imageURL }}" alt="listingImage" height="400px">
    {% endif %}
    <h3 class="card-title">{{ listing.title }}</h3>
    <h6 class="card-subtitle mb-2 text-body">Price: {{ listing.bid }}€</h6>
    <p class="card-text">
        <div>{{ listing.description }}</div>
    </p>
    <div>Created time: {{ listing.created_at }}</div>
</div>

{% endblock %}