{% extends "auctions/layout.html" %}

{% block title %}
    {{ title }}
{% endblock %}

{% block body %}

<h2>Listing: {{ listing.title }}</h2>


<div class="listing">
    {% if listing.imageURL %}
        <img src= "{{ listing.imageURL }}" alt="listingImage" height="400px" class="listing-image-single">
    {% endif %}
    <h6 class="listing-bid">Price: {{ listing.bid }}€</h6>
    <p class="listing-description">{{ listing.description }}</p>
    <div>Category: {{ listing.updated_at }}</div>
    <div>Active: {{ listing.active }}</div>
    <div>Created time: {{ listing.created_at }}</div>
    <div>Updated time: {{ listing.updated_at }}</div>
    
</div>

{% endblock %}