body {
    margin: 0;
    background-color: white;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 70vh;
    width: 80%;
    margin: 5px;
    padding: 10px;

}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}

.edit-form {
    display: flex;
    flex-direction: column;
    margin: 5px;
    align-content: center;
}

button {
    margin: 12px;
    border-radius: 3px;
    border: 1px solid #f7f7f7;
    background-color:#f6f7f790;
    padding: 7.5px 15px;
    font-size: 80%;
    color: #282828;
    width:80%;
}

.new-title {
    padding: 10px;
    margin: 5px;
    width: 80%;
    font-weight: bold;
}