body {
    margin: 0;
    background-color: white;
}

code {
    white-space: pre;
}

h1 {
    margin-top: 0px;
    padding-top: 20px;
}

textarea {
    height: 70vh;
    width: 80%;
    margin: 5px;
    padding: 10px;
    border: 1px solid #cccccc;
    border-radius: 3px;
}

.main {
    padding: 10px;
}

.search {
    width: 100%;
    font-size: 15px;
    line-height: 15px;
}

.sidebar {
    background-color: #f0f0f0;
    height: 100vh;
    padding: 20px;
}

.sidebar h2 {
    margin-top: 5px;
}

.edit-form {
    display: flex;
    flex-direction: column;
    align-content: center;
}

button {
    padding: 10px;
    margin: 5px;
    border-radius: 3px;
    border: 1px solid #cccccc;
    background-color:#f6f7f7bb;
    padding: 7.5px 15px;
    color: #757575;
    width:80%;
}

button:hover {
    border: 1px solid #f3f3f3;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}

.new-title {
    padding: 10px;
    margin: 5px;
    width: 80%;
    font-weight: bold;
    border: 1px solid #cccccc;
    border-radius: 3px;
}