{% extends "encyclopedia/layout.html" %}

{% block title %}
    Create New Page
{% endblock %}

{% block body %}
    <h1>Create New Page</h1>

    <form action="{% url 'save' %}" method="post" class="edit-form">
        {% csrf_token %}
        <input class="new-title" type="text" name="new-title" placeholder="New Page Title">
        <textarea id="content" name="content" rows="4" cols="50" placeholder="New Page Content"></textarea>
        <button type="submit" name="save">Save</button>
    </form>

{% endblock %}