.search-bar {
    align-content: center;
    padding: 150px;
    margin: 25px auto;
    margin-inline: 5px;
    text-align: left;
    border-radius: 25px;
    border: 1px solid #d4d4d4;
    padding: 4px 2px 2px 2px;
    font-family:sans-serif;
}
.search-bar:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border: none;
}

.button {
    margin: 25px;
    border-radius: 3px;
    border: none;
    background-color:#f7f7f7;
    padding: 10px 20px;
}
.button:hover {
    border: 1px solid #d4d4d4;
}

.container-center {
    display: flex; /* Enable flexbox layout */
    flex-direction: column; /* Arrange children in a vertical layout */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    min-height: 100vh; /* Ensure container takes up full viewport height */
}

.form-stacked {
    display: flex; /* Enable flexbox layout for the form */
    flex-direction: column; /* Arrange form elements in a vertical layout */
    /*width: 100%; /* Ensure form occupies the full container width */
    max-width: 500px; /* Set a maximum width for the form */
}
