.search-bar {
    align-content: center;
    padding: 14px 35px 14px 50px;
    margin: 24px auto;
    text-align: left;
    border-radius: 28px;
    border: 1px solid #d4d4d4;
    font-family:sans-serif;
    width:700px;
    outline: none;
}
.search-bar:hover {
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
    border: 1px solid #d4d4d4;
}

.button {
    margin: 12px;
    border-radius: 3px;
    border: 1px solid #f7f7f7;
    background-color:#f7f7f7;
    padding: 7.5px 15px;
    font-size: 15px;
    color: #282828;
}
.button:hover {
    border: 1px solid #d4d4d4;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}

.container-center {
    display: flex; /* Enable flexbox layout */
    flex-wrap: wrap;
    flex-direction: column; /* Arrange children in a vertical layout */
    justify-content: center; /* Center content horizontally */
    align-items: center; /* Center content vertically */
    min-height: 100vh; /* Ensure container takes up full viewport height */
}

.form-stacked {
    display: flex; /* Enable flexbox layout for the form */
    flex-direction: column; /* Arrange form elements in a vertical layout */
    align-items: center;
}

.search-container {
    position: relative;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #b7b7b7;
    user-select: none;
}