.page {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
}

.search-bar {
    align-content: center;
    padding: 14px 35px 14px 50px;
    margin: 24px auto;
    text-align: left;
    border-radius: 28px;
    border: 0.1px solid #d4d4d4;
    font-family:sans-serif;
    width: 700px;
    outline: none;
}
.search-bar:hover {
    box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
    border: 0.1px solid #d4d4d4;
}

.button {
    margin: 12px;
    border-radius: 3px;
    border: 1px solid #f7f7f7;
    background-color:#f6f7f790;
    padding: 7.5px 15px;
    font-size: 80%;
    color: #282828;
}
.button:hover {
    border: 1px solid #f3f3f3;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.3);
}

.container-center {
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    flex: 1;                /* Allow it to grow and center properly */ 
}

.container-left {
    display: flex; 
    flex-direction: column; 
    justify-content: left; 
    align-items: center; 
    flex: 1;                /* Allow it to grow and center properly */ 
}

.container-top-right {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: right;
    margin-left: auto;
}

.form-stacked {
    display: flex; /* Enable flexbox layout for the form */
    flex-direction: column; /* Arrange form elements in a vertical layout */
    align-items: center;
}

.search-container {
    position: relative;
}

.search-icon {
    position: absolute;
    top: 50%;
    left: 15px;
    transform: translateY(-50%);
    color: #b7b7b7;
    user-select: none;
}

.link {
    font-family: sans-serif;
    font-size: 80%;
    font-stretch: narrower;
    margin: 12px;
    color:#3b3b3b;
    text-decoration: none;
}

.link:hover {
    text-decoration:underline;
}

.logo {
    width: 35%;
    height: auto;
}

.advanced-seach-header{
    color: red;
    font-family: sans-serif;
    font-weight: lighter;
}